@import "../Utils/mixins";
@import "../Utils/variables";

// body {
//   background-color: $un;
// }

body {
  background-color: $un; // Couleur de fond
  color: $texte; // Couleur de texte
  font-family: "Arial", sans-serif; // Police par défaut
  line-height: 1.6; // Amélioration de la lisibilité
}
