@import "../Utils/mixins";
@import "../Utils/variables";

main {
  nav {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    ul {
      li {
        list-style: none;
        a {
          text-decoration: none;
          &:hover {
            color: $six;
          }
        }
      }
    }
  }
  .container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; // Centrer les éléments
    margin: 40px auto; // Marges autour de la section
    background-color: $trois; // Fond gris légèrement plus clair pour la section
    border-radius: 15px; // Coins arrondis
    padding: 20px; // Espacement intérieur
    max-width: 700px; // Largeur maximale pour éviter l'étirement
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25); // Ombre douce pour un effet de profondeur
    h2 {
      margin: 0;
    }
    .hidden {
      display: none;
    }
    button {
      background-color: $buttonColor; // Couleur des boutons
      color: $cinq; // Couleur du texte des boutons
      height: 45px; // Hauteur fixe
      border: none; // Pas de bordure par défaut
      border-radius: 25px; // Coins arrondis
      cursor: pointer; // Changer le curseur au survol
      font-size: 1.1rem; // Taille de police pour les boutons
      -webkit-transition: background-color 0.3s, -webkit-transform 0.2s;
      transition: background-color 0.3s, -webkit-transform 0.2s;
      -o-transition: background-color 0.3s, transform 0.2s;
      transition: background-color 0.3s, transform 0.2s;
      transition: background-color 0.3s, transform 0.2s, -webkit-transform 0.2s; // Transition pour le changement de couleur

      &:hover {
        -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        transform: translateY(-2px); // Légère élévation au survol
        background-color: $buttonHoverColor;
        color: $trois; // Couleur du texte au survol
      }

      &:active {
        background-color: darken($quatre, 10%); // Changement de couleur lors du clic
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); // Remettre à la normale
      }
    }
    .fa-xmark {
      font-size: 24px;
      position: absolute;
      top: 150px;
      right: 20px;
      &:hover {
        cursor: pointer;
        color: $six;
      }
    }
    #t21Close {
      top: 300px;
    }
    .result {
      background-color: $cinq; // Utiliser une couleur de fond plus claire pour les résultats
      border: 1px solid $texte; // Bordure claire
      border-radius: 10px; // Coins arrondis
      padding: 15px; // Espacement intérieur
      margin-top: 20px; // Espacement au-dessus
      width: 100%; // Prendre toute la largeur
      color: $texte; // Couleur de texte
      font-family: "Inconsolata", monospace; // Police pour les résultats
      white-space: pre-wrap; // Conserver les retours à la ligne
      -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); // Ombre douce pour un effet de profondeur
    }
    form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 20px;
      input {
        -ms-flex-item-align: center;
        align-self: center;
        background-color: $un;
        width: 100px;
        text-align: center;
      }
    }
  }
}
