@import "../Utils/mixins";
@import "../Utils/variables";

#hcgSection,
#t21Section {
  form {
    input,
    select {
      color: $texte;
      background-color: $un;
      text-align: center;
      -ms-flex-item-align: center;
      align-self: center;
    }
    select {
      width: 200px;
    }
  }
}
