$un: #2b2b2b; // Gris anthracite pour le fond
$deux: #f5f5f5; // Blanc cassé pour le texte
$trois: #3a3a3a; // Gris légèrement plus clair pour le fond des sections
$quatre: #a3c1da; // Un turquoise apaisant pour les éléments interactifs
$cinq: #444444; // Un gris clair pour les bordures
$six: #7fb3d5;

$texte: $deux;

$buttonColor: $quatre; // Pastel bleu
$buttonHoverColor: $six; // Bleu un peu plus vif au survol
