@import "../Utils/mixins";
@import "../Utils/variables";

* {
  color: $texte;
  font-family: Arial, Helvetica, sans-serif, monospace;
}
h1 {
  font-size: 2rem;
}
p {
  font-size: 1.2rem;
}
button {
  font-size: 1.1rem;
}
#result {
  font-size: 2rem;
}
